@import "nib"
@import "../common"
@import "../button"

.modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 500
  display: table
  transform: translateX(100%)
  transition: opacity 0.2s
  opacity: 0

.modal--active
  transform: translateX(0)
  opacity: 1

.modal__back
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: #000
  opacity: 0.7
  z-index: -1

.modal__container
  display: table-cell
  vertical-align: middle
  padding: padding-large

.modal__dialog
  max-width: 500px
  margin: auto
  background: #fff
  padding: padding-medium 24px
  border-radius: 5px
  box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.2)
  color: color-text-black
  position: relative

.modal__dialog--large
  max-width: 900px

.modal__title
  margin: 0
  font-weight: 300
  font-size: 1.5em

.modal__btn-close
  position: absolute
  right: 0
  top: 0
  background: none
  border: none
  color: color-divider
  font-size: 20px
  padding: 12px 16px
  outline: none
  &:hover
    color: color-error

.modal__content
  line-height: line-height

.modal__btn-group
  text-align: right

.modal__btn
  @extend $button-borderless

.modal__btn--danger
  @extend $button-danger

.modal__btn--primary
  @extend $button-primary
