@import "nib"
@import "../common"

.asset-list
  height: 100%
  position: relative
  overflow: auto

.asset-list__overlay
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  align-items: center
  justify-content: center
  text-align: center

.asset-list__overlay--dragging
  @extend .asset-list__overlay
  background: rgba(color-accent, 0.6)
  color: #fff

.asset-list__grid
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: flex-start

.asset-list__item
  cursor: pointer
  padding: padding-small padding-medium
  .asset-list__list &
    line-height: 1
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  .asset-list__grid &
    width: 120px
    text-align: center
    margin: auto
    border-radius: 8px
    margin: padding-small auto

.asset-list__item--active
  background: color-list-highlight

.asset-list__item-icon-wrap
  overflow: hidden
  position: relative
  .asset-list__list &
    display: inline-block
    padding-right: 0.5em
  .asset-list__grid &
    height: 0
    padding-top: 100%

.asset-list__item-icon
  .asset-list__list &
    display: inline
  .asset-list__grid &
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    text-align: center
    vertical-align: middle
    font-size: 50px
    color: color-secondary-text
    overflow: hidden
    &:before
      content: ""
      display: inline-block
      vertical-align: middle
      height: 100%
    img
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      max-width: 100%
      max-height: 100%
      margin: auto

.asset-list__item-name
  .asset-list__grid &
    display: block
    margin-top: padding-small
    line-height: 1em
    height: @line-height
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap