@import "nib"
@import "../common"

palette-title-height = 50px

.palette
  position: relative
  height: 100%
  overflow: hidden

.palette__title
  font-weight: 300
  margin: 0
  padding: padding-medium
  position: absolute
  top: 0
  left: 0
  width: 100%

.palette__content
  position: absolute
  top: palette-title-height
  left: 0
  right: 0
  bottom: 0
  overflow: auto