@import "nib"
@import "../common"

.palette
  position: relative
  height: 100%
  overflow: hidden

.palette__title
  font-weight: 300
  margin: 0
  padding: 0 padding-medium
  position: absolute
  top: 0
  left: 0
  width: 100%
  line-height: palette-title-height

.palette__content
  position: absolute
  top: palette-title-height
  left: 0
  right: 0
  bottom: 0
  overflow: auto