@import "nib"
@import "../common"

tab-width = 48px

$project-sidebar-tab
  width: tab-width
  height: @width
  font-size: 20px
  line-height: @height
  text-align: center
  display: block
  color: #999
  cursor: pointer
  border-radius: 3px 0 0 3px
  border-left: 2px solid transparent
  &:hover
    color: #fff

.project-sidebar
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: project-sidebar-width
  background: color-background
  .tab-host__tabs
    position: absolute
    top: 0
    left: 0
    bottom: 0
    width: tab-width
    box-shadow: -10px 0 10px -10px rgba(0, 0, 0, 0.2) inset
  .tab-host__content
    position: absolute
    top: 0
    left: tab-width
    right: 0
    bottom: 0
    background: color-project-sidebar
  .tab-host__tab
    @extend $project-sidebar-tab
    &.active
      color: #fff
      background: color-project-sidebar
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
      border-left-color: color-accent

.project-sidebar__links
  position: absolute
  bottom: 0
  left: 0

.project-sidebar__link
  @extend $project-sidebar-tab