@import "nib"
@import "../common"

.project
  position: absolute
  top: dashboard-header-height
  left: 0
  bottom: 0
  right: 0

.project__canvas-wrap
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  overflow: hidden