@import "nib"
@import "../common"

.screen-palette
  position: relative
  height: 100%

.screen-palette__new-screen
  position: absolute
  top: 0
  right: 0
  z-index: 1
  padding: padding-medium
  cursor: pointer
  &:hover
    color: color-accent

.screen-palette__empty
  text-align: center
  padding: padding-medium