@import "nib"
@import "../common"

.screen-palette__new-screen-wrap
  position: absolute
  top: 0
  right: 0

.screen-palette__new-screen
  padding: padding-medium
  cursor: pointer
  &:hover
    color: color-accent