@import "nib"
@import "../common"

.screen-item
  position: relative

.screen-item__name
  line-height: 1
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  display: block
  user-select: none
  padding: padding-small padding-medium + 12px padding-small padding-medium
  text-decoration: none
  color: inherit
  .screen-item--selected &
    background: color-list-highlight

.screen-item__dropdown
  position: absolute
  top: 0
  right: 0
  bottom: 0

.screen-item__more-btn
  background: none
  border: none
  padding: 0 12px
  line-height: 30px
  &:hover
    background: #666

.screen-item--main
  &:before
    content: "M"
    position: absolute
    top: 0
    bottom: 0
    right: 0
    color: color-secondary-text
    font-weight: bold
    padding: padding-small
    font-size: 0.9em
    line-height: 1

.screen-item--dragging
  opacity: 0