@import "nib"
@import "../common"
@import "../button"

.setting-palette
  padding: 0 padding-medium
  .input-group__field
    border-bottom-color: lighten(color-project-sidebar, 20%)

.setting-palette__save
  @extend $button-primary

.setting-palette__delete
  @extend $button-danger

.setting-palette__btn-wrap
  margin: padding-medium 0

.setting-palette__radio-group
  padding-bottom: padding-medium

.setting-palette__radio-group-title
  color: color-secondary-text
  font-size: 0.9em
  padding-bottom: padding-small

.setting-palette__radio
  display: block
  padding-bottom: padding-small
  input
    margin-right: padding-small
  i
    padding-right: 0.5em