@import "nib"
@import "../common"

color-action-node = hsl(258, 35%, 27%)

.action-node
  background: color-action-node
  border-radius: 4px
  width: 250px
  margin: 24px
  box-shadow: 0 0 8px rgba(#000, 0.4)

.action-node__header
  padding: 6px 0
  background: lighten(color-action-node, 10%)
  border-bottom: 1px solid darken(color-action-node, 5%)
  color: #fff
  border-radius: 4px

.action-node__select
  .Select-control
    background: none !important
    border: none !important
    padding: 0 52px 0 10px
  .Select-placeholder
    color: #fff !important
    padding: 0 12px
    font-weight: bold
  .Select-arrow
    top: 8px

.action-node__option-content
  font-size: 0.9em

.action-node__input-name
  background: none
  width: 100%
  display: block
  border: none
  font-size: inherit
  font-family: inherit
  outline: none
  padding: 0 12px

.action-node__content
  font-size: 0.9em

.action-node__data-list
  padding: 8px 12px

.action-node__input
  padding-bottom: 12px
  .input-group__label
    padding: 0 0 3px
  .input-group__field
    border-bottom-color: rgba(#fff, 0.2)

.action-node__input-select
  width: 100%