@import "nib"
@import "../common"

.canvas__cover
  position: fixed
  .canvas--active > &
    background: rgba(color-accent, 0.5)
  .canvas--selected > &
    border: 1px solid color-accent

.canvas__screen
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto
  width: 360px
  height: 640px
  background: #fff

.canvas__text
  color: #000