@import "nib"
@import "../common"

.element-sidebar
  float: right
  width: element-sidebar-width
  background: color-project-sidebar
  margin-right: @width * -1
  height: 100%

.element-sidebar__attribute-palette
  height: 60%

.element-sidebar__element-palette
  height: 40%