@import "nib"
@import "../common"

.element-sidebar
  float: right
  width: element-sidebar-width
  background: color-project-sidebar
  margin-right: @width * -1
  height: 100%
  position: relative
  z-index: 1
  box-shadow: 0 0 8px rgba(#000, 0.2)

.element-sidebar__attribute-palette
  height: 60%
  border-bottom: 1px solid color-list-highlight

.element-sidebar__element-palette
  height: 40%