@import "nib"
@import "../common"

.element-sidebar
  position: absolute
  top: 0
  bottom: 0
  right: 0
  width: element-sidebar-width
  background: color-project-sidebar

.element-sidebar__attribute-palette
  height: 60%

.element-sidebar__element-palette
  height: 40%