@import "nib"
@import "../common"

.event-modal__select-wrap
  clearfix()

.event-modal__select
  padding-bottom: padding-medium
  float: left
  width: 50%
  padding-right: padding-medium
  &:last-of-type
    padding-right: 0

.event-modal__select-label
  padding: padding-small 0
  display: block

.event-modal__action-board
  padding-bottom: padding-medium
  height: 500px