@import "nib"
@import "../common"

.event-modal__select-wrap
  clearfix()
  padding-bottom: padding-medium
  margin-right: padding-medium * -1

.event-modal__select
  width: 50%
  float: left
  padding-right: padding-medium

.event-modal__select-label
  padding: padding-small 0
  display: block

.event-modal__action-board
  padding-bottom: padding-medium
  height: 500px

.event-modal__workspace
  padding: padding-medium 0
  height: 500px

.event-modal__delete-btn
  float: left