@import "nib"
@import "../common"

.screen-toolbar
  position: absolute
  bottom: 0
  left: 0
  right: element-sidebar-width
  padding: padding-medium

.screen-toolbar__status
  float: left
  color: color-secondary-text

.screen-toolbar__loading
  color: color-text
  i
    padding-right: 0.5em

.screen-toolbar__save-btn
  color: color-text
  cursor: pointer
  &:hover
    color: color-accent

.screen-toolbar__resize
  float: right