@import "nib"
@import "../common"

.screen
  position: absolute
  top: 0
  left: project-sidebar-width
  bottom: 0
  right: 0
  overflow: hidden

.screen__view
  position: absolute
  top: 0
  left: 0
  right: element-sidebar-width
  bottom: 0
  width: 360px
  height: 640px
  margin: auto
  &.ios
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
    color: #000
    font-size: 14px
    line-height: 1.4
    background: #fff
  &.material
    font-family: Roboto, Noto, Helvetica, Arial, sans-serif
    color: #212121
    font-size: 14px
    line-height: 1.5
    background: #fff