@import "nib"
@import "../common"

.screen
  float: right
  height: 100%
  width: 100%

.screen__container
  clearfix()
  margin-right: element-sidebar-width
  height: 100%

.screen__content
  float: left
  width: 100%
  height: 100%
  position: relative