@import "nib"
@import "../common"

.screen-toolbar
  position: absolute
  bottom: 0
  left: 0
  right: element-sidebar-width
  height: screen-toolbar-height
  padding: 0 padding-medium

.screen-toolbar__status
  float: left
  color: color-secondary-text
  .fa
    margin-right: 0.5em