@import "nib"
@import "../common"

.style-palette__section
  clearfix()
  margin: 0 padding-small * -1
  padding-bottom: padding-medium

.style-palette__input-group
  clearfix()
  padding: 4px padding-small
  font-size: 0.9em
  position: relative
  clear: both

.style-palette__input-group-half
  @extend .style-palette__input-group
  float: left
  width: 50%
  clear: none

.style-palette__input-label
  color: color-secondary-text
  padding-bottom: padding-small
  display: block

.style-palette__input-field
  display: block
  width: 100%

.style-palette__input-field--border
  @extend .style-palette__input-field
  border-bottom: 2px solid color-list-highlight
  padding-bottom: 4px

.style-palette__color-picker-wrap
  @extend .style-palette__input-field
  position: absolute
  right: 0
  top: 0
  height: 100%

.style-palette__color-picker
  clearfix()
  position: relative
  .color-picker__dropdown
    position: absolute
    top: 0
    left: 0
    right: 25px
    bottom: 0
  .color-picker__toggle
    border-radius: 3px
    overflow: hidden
  .color-picker__reset
    float: right

.style-palette__btn-group
  button
    background: none
    border: 1px solid color-list-highlight
    border-right-width: 0
    cursor: pointer
    outline: none
    line-height: 1
    &:first-of-type
      border-radius: 3px 0 0 3px
    &:last-of-type
      border-radius: 0 3px 3px 0
      border-right-width: 1px
    &:hover
      color: color-highlight
    &.active
      color: color-accent

.style-palette__tab-host
  .tab-host__tabs
    text-align: center
    padding-bottom: 8px
    font-size: 0.9em
  .tab-host__tab
    display: inline-block
    padding: 3px 8px
    line-height: 1
    text-transform: capitalize
    cursor: pointer
    border-radius: 3px
    &:hover
      background: color-list-highlight
    &.active
      background: color-accent
      color: color-highlight