@import "nib"
@import "../common"

$view-resize-area
  position: fixed

.view__resize-n
  @extend $view-resize-area
  cursor: n-resize
  border-top: 2px solid color-accent

.view__resize-e
  @extend $view-resize-area
  cursor: e-resize
  border-right: 2px solid color-accent

.view__resize-s
  @extend $view-resize-area
  cursor: s-resize
  border-bottom: 2px solid color-accent

.view__resize-w
  @extend $view-resize-area
  cursor: w-resize
  border-left: 2px solid color-accent

$view-resize-corner
  @extend $view-resize-area
  background: color-accent

.view__resize-ne
  @extend $view-resize-corner
  cursor: ne-resize

.view__resize-se
  @extend $view-resize-corner
  cursor: se-resize

.view__resize-sw
  @extend $view-resize-corner
  cursor: sw-resize

.view__resize-nw
  @extend $view-resize-corner
  cursor: nw-resize

.view__mask
  background: color-accent
  opacity: 0.5
  position: fixed
  pointer-events: none