@import "nib"
@import "~normalize.css"
@import "./theme"

*, *::before, *::after
  box-sizing: border-box

html
  overflow: hidden
  -ms-touch-action: pan-y
  touch-action: pan-y

body
  @extend $body

/**
 * Set ms-viewport to prevent MS "page squish" and allow fluid scrolling
 * https://msdn.microsoft.com/en-us/library/ie/hh869615(v=vs.85).aspx
 */
@-ms-viewport
  width: device-width

button
  @extend $button