$button
  button-style(button-default-bg, button-default-border, button-default-active-bg, button-default-active-border, button-default-text)

  position: relative
  display: inline-block
  margin: 0
  padding: 0 button-padding

  min-width: button-padding * 3 + button-font-size
  min-height: button-height + 5px

  border-width: button-border-width
  border-style: solid
  border-radius: button-border-radius

  vertical-align: top
  text-align: center

  text-overflow: ellipsis
  font-size: button-font-size
  line-height: button-height - button-border-width + 1px

  cursor: pointer

$button-light
  @extend $button
  button-style(button-light-bg, button-light-border, button-light-active-bg, button-light-active-border, button-light-text)

$button-stable
  @extend $button
  button-style(button-stable-bg, button-stable-border, button-stable-active-bg, button-stable-active-border, button-stable-text)

$button-positive
  @extend $button
  button-style(button-positive-bg, button-positive-border, button-positive-active-bg, button-positive-active-border, button-positive-text)

$button-calm
  @extend $button
  button-style(button-calm-bg, button-calm-border, button-calm-active-bg, button-calm-active-border, button-calm-text)

$button-assertive
  @extend $button
  button-style(button-assertive-bg, button-assertive-border, button-assertive-active-bg, button-assertive-active-border, button-assertive-text)

$button-balanced
  @extend $button
  button-style(button-balanced-bg, button-balanced-border, button-balanced-active-bg, button-balanced-active-border, button-balanced-text)

$button-energized
  @extend $button
  button-style(button-energized-bg, button-energized-border, button-energized-active-bg, button-energized-active-border, button-energized-text)

$button-royal
  @extend $button
  button-style(button-royal-bg, button-royal-border, button-royal-active-bg, button-royal-active-border, button-royal-text)

$button-dark
  @extend $button
  button-style(button-dark-bg, button-dark-border, button-dark-active-bg, button-dark-active-border, button-dark-text)

$button-small
  padding: 2px button-small-padding 1px
  min-width: button-small-height
  min-height: button-small-height * 2
  font-size: button-small-font-size
  line-height: button-small-height - button-border-width - 1

$button-large
  padding: 0 button-large-padding
  min-width: button-large-padding * 3 + button-large-font-size
  min-height: button-large-height + 5
  font-size: button-large-font-size
  line-height: button-large-height - button-border-width