// Colors
color-text = #000
color-background = #fff
color-primary = #428bca
color-chrome = #fff
color-default = #fff
color-position = #5cb85c
color-negative = #d9534f

// Fonts
font-sans = "Helvetica Neue", Helvetica, sans-serif
font-size-base = 14px