@import "nib"
@import "./common"

$button
  display: inline-block
  border: none
  border-radius: 5px
  padding: 10px 16px
  line-height: 1
  background: color-divider
  text-decoration: none
  user-select: none
  cursor: pointer
  outline: none
  &:hover
    background: darken(color-divider, 10%)

$button-primary
  @extend $button
  background: color-accent
  color: #fff
  &:hover
    background: darken(color-accent, 10%)

$button-danger
  @extend $button
  background: color-error
  color: #fff
  &:hover
    background: darken(color-error, 10%)

$button-borderless
  @extend $button
  background: none
  &:hover
    background: color-divider

$button-borderless-dark
  @extend $button
  background: none
  color: color-text
  &:hover
    background: lighten(color-background, 10%)
    color: color-highlight

$button-borderless-dark-primary
  @extend $button-borderless-dark
  color: color-accent
  &:hover
    background: color-accent
    color: #fff