// Colors
color-default = #444
color-gray = #999
color-border = #e3e3e3
color-background = #fff
color-toolbar = #414B55

color-cyan = #50C9F5

// Typography
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-size-base = 15px

// Layout
header-height = 50px