@import "nib"
@import "../common"
@import "../button"

logo-width = 78px
logo-height = 40px

.home-header
  clearfix()
  padding: 48px 0
  font-size: 1.2em

.home-header__right
  float: right
  margin-right: padding-medium * -1

.home-header__link
  @extend $button-borderless-dark

.home-header__link--primary
  @extend $button-borderless-dark-primary

.home-header__logo-wrap
  float: left
  margin: 0

.home-header__logo
  hide-text()
  display: block
  width: logo-width
  height: logo-height
  image: "../../assets/logo.png" @width @height