@import "nib"
@import "~normalize.css"
@import "../common"

*, *::before, *::after
  box-sizing: border-box

body
  font-size: font-size-base
  font-family: font-sans
  background: color-background
  color: color-text
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
