@import "nib"
@import "../common"
@import "../button"

#header-actions
  float: right

.header-actions__link
.header-actions__primary-link
  float: left
  margin-top: 8px
  margin-right: 15px

.header-actions__link
  @extend $button

.header-actions__primary-link
  @extend $button-cyan

.header-actions__dropdown
  float: left

.header-actions__avatar
  display: block

.header-actions__avatar-img
  display: block