@import "nib"
@import "../common"

#main-nav
  float: left
  padding-left: 10px

.main-nav__link
  float: left
  text-decoration: none
  color: color-cyan
  padding: 0 15px
  line-height: header-height
  &:hover
    background: lighten(color-toolbar, 10%)