@import "nib"
@import "../common"
@import "./InputGroup"

.color-picker
  @extend .input-group

.color-picker__label
  @extend .input-group__label

.color-picker__field
  clearfix()
  border-bottom: 2px solid color-divider
  padding-bottom: padding-small

.color-picker__value
  float: left

.color-picker__thumb
  float: right
  width: 1em
  height: @width
  background: transparent

.color-picker__group
  clearfix()

.color-picker__common-btn
  border: 1px solid transparent
  width: 16px
  height: @width
  margin: 1px
  cursor: pointer
  outline: none
  &:hover
    border-color: color-divider