@import "nib"
@import "../common"

.input-group
  padding-bottom: padding-medium + 4px
  position: relative
  display: block

.input-group__label
  font-size: 0.9em
  color: color-secondary-text
  display: block
  padding: padding-small 0

.input-group__field
  background: none
  border: none
  box-shadow: none
  border-bottom: 2px solid color-divider
  width: 100%
  max-width: 100%
  color: inherit
  font-family: inherit
  font-size: inherit
  padding-bottom: padding-small
  outline: none
  transition: border-bottom 0.2s
  border-radius: 0
  appearance: initial
  &.pristine:focus
  &.valid:focus
    border-bottom-color: color-accent
  &.dirty.invalid
  &.submitted.invalid
    border-bottom-color: color-error

.input-group__error
  display: none
  color: color-error
  font-size: 0.9em
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  .dirty ~ &
  .submitted ~ &
    display: block