@import "nib"
@import "../common"

unit-width = 30px

.size-input
  position: relative

.size-input__value
  background: none
  border: none
  outline: none
  margin: auto
  opacity: 0
  width: 100%
  padding-right: unit-width
  .size-input--full &
    opacity: 1
    text-align: right

.size-input__unit
  position: absolute
  top: 0
  right: 0
  bottom: 0
  width: 100%
  padding-right: 12px
  .size-input--full &
    text-align: right
    width: unit-width
    color: color-secondary-text
  &:before
    content: ""
    position: absolute
    top: 50%
    right: 0
    margin: auto
    border-style: solid
    border-width: 4px
    border-color: color-text transparent transparent
    margin-top: @border-width * -1

.size-input__unit-select
  opacity: 0
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%