@import "nib"
@import "../common"
@import "./InputGroup"

unit-width = 30px

.size-input
  @extend .input-group

.size-input__label
  @extend .input-group__label

.size-input__field
  position: relative

.size-input__value
  @extend .input-group__field
  display: none
  line-height: 1
  &:focus
    border-bottom-color: color-accent
  .size-input--full &
    display: block

.size-input__unit
  color: inherit
  font-size: inherit
  font-family: inherit
  -webkit-appearance: initial
  outline: none
  background: none
  border: none
  border-bottom: 2px solid color-divider
  border-radius: 0
  padding-bottom: padding-small
  width: 100%
  .size-input--full &
    position: absolute
    top: 0
    right: 0
    width: unit-width
    border-bottom: none