@import "nib"
@import "../common"

.new-project-modal__radio-group
  padding-bottom: padding-medium

.new-project-modal__radio-group-title
  color: color-secondary-text
  font-size: 0.9em
  padding-bottom: padding-small

.new-project-modal__radio
  display: inline-block
  padding-bottom: padding-small
  padding-right: padding-large
  input
    margin-right: padding-small
  i
    padding-right: 0.5em