@import "nib"
@import "../common"
@import "../button"

.project-list
  padding-top: padding-large

.project-list__header
  clearfix()
  padding: 0 padding-medium 0.5em

.project-list__title
  font-weight: 300
  float: left
  margin: 0
  padding-bottom: padding-small

.project-list__new-project-btn
  @extend $button-borderless
  color: color-accent
  float: right
  margin: 0 padding-medium * -1
  &:hover
    background: color-accent
    color: #fff
  i
    padding-right: 0.5em

.project-list__content
  background: #fff
  border-radius: 5px
  color: color-text-black

.project-list__list
  padding: 0 padding-medium

.project-list__empty
  padding: padding-medium
  text-align: center

.project-list__footer
  text-align: center
  padding: padding-medium

.project_list__more-btn
  @extend $button-borderless
  color: color-text
  &:hover
    background: lighten(color-background, 10%)